/* Стіль шрифта зостосований до усього того що знаходиться в body взятий с сайту майкрософт */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,li{
    margin: 0;
    padding: 0;
  }
/* Main stils */
/* display: flex; - для виравнювання Sidebar з Main content */
/* flex-direction: row-reverse; flex-direction: row - виравнюе в одну лінію Main content та Sidebar(з права) row-reverse - змінюе Sidebar(з ліва) */
.Main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/* Main_content */
.Main_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding-left: 25px;
    
}

/* about */
.about {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 40px; */
}

/* about_position */
.about_position {
    margin-top: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    
}
 
/* about_name */
.about_name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    
}

/* about_discription */
.about_discription {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}

/* Project */
.Project {
    /* margin-bottom: 50px; */
   
    
}



/* title */
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10;
}

/* Project_list */
.Project_list {
    padding: 0px;
    margin-left: 15px;
}


/* Project_item */
.Project_item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* Project */
.Project, 
.Project_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* Project_link */
.Project_link {
    margin-left: 10px;
}

/* Project_bracket */
.Project_bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* "Worc_position" */
.Worc_position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

/* Organization */
.Organization {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A; 
}

/* "Period" */
.Period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

/* Line */
.Line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

/* work_list */
.work_list {
padding: 0;
margin-left: 20px;
}

/* work_list_item */
.work_list_item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

/* Education_position */
.Education_position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

/* Management_text */
.Management_text {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}  

/* Sidebar-stiles */
/* padding-top: 40px -відступ з гори в середені блоку */
/* width -довжина */
.Sidebar {
    background-color: #1E2939;
    width: 500px;
}

/* Photo */
/* margin-bottom: 50px - відступ до низу до наступного блоку */
.Photo {
width: 370px;
margin-bottom: 50px;
}

/* margin-left: 40px - відступ від лівого краю блока */
/* до класів .Tech_Skills, .Soft_Skills буде зостасовано margin-left: 40px; */
.Contacts,
.Tech_Skills,
.Soft_Skills {
    margin-left: 40px;
}

.Contacts {
    margin-bottom: 50px;
}

.Contact_type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    }

.Contact_linc {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
   }

/* Sidebar title (Зостосовано до Sidebar, Tech Skills, Soft Skills */
.Sidebar_title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
    }

/* Tech_Skill_list, Soft_Skill_list */
.Tech_Skill_list, 
.Soft_Skill_list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 20px;
    }


/* Tech_Skill_item для того щоб пофарбувати крапочкі */
.Tech_Skill_item, 
.Soft_Skill_item {
    color: #FB6D3A;
}

/* Tech_Skill_text - для того щоб пофарбувати текст */
.Tech_Skill_text, 
.Soft_Skill_text {
color: #FFFFFF;
}



